{% if page.author_profile or layout.author_profile or page.sidebar %}
  <div class="sidebar sticky">
  {% if page.author_profile or layout.author_profile %}{% include author-profile.html %}{% endif %}
  
  {% if page.id %}
    <hr>
    <nav class="nav__list recent-posts">
      <h3 class="nav__title"><i class="fas fa-fw fa-stream" aria-hidden="true"></i> Recent Posts</h3>
      <input id="recent-posts-toggle" type="checkbox">
      <label for="recent-posts-toggle"><i class="fas fa-fw fa-stream" aria-hidden="true"></i> Recent Posts</label>
      <ul class="nav__items">
        {% for post in site.posts limit:5 %}
          {% if post.id != page.id %}
            <li style="font-size: 1.05em; margin-bottom: 1em;">
              <a href="{{ post.url | relative_url }}" rel="permalink"><i class="fas fa-fw fa-file-alt" aria-hidden="true"></i> {{ post.title | truncate: 45 }}</a>
              <p class="page__meta" style="font-size: 0.9em; margin-top: 0.3em;"><i class="far fa-fw fa-calendar-alt" aria-hidden="true"></i> {{ post.date | date: "%b %d, %Y" }}</p>
            </li>
          {% endif %}
        {% endfor %}
      </ul>
    </nav>
  {% endif %}
  
  {% if page.sidebar %}
    {% for s in page.sidebar %}
      {% if s.image %}
        <img src="{{ s.image | relative_url }}"
             alt="{% if s.image_alt %}{{ s.image_alt }}{% endif %}">
      {% endif %}
      {% if s.title %}<h3>{{ s.title }}</h3>{% endif %}
      {% if s.text %}{{ s.text | markdownify }}{% endif %}
      {% if s.nav %}{% include nav_list nav=s.nav %}{% endif %}
    {% endfor %}
    {% if page.sidebar.nav %}
      {% include nav_list nav=page.sidebar.nav %}
    {% endif %}
  {% endif %}
  </div>
{% endif %}

